.modal-body {
    height: 250px;
    overflow-y: auto;
}

@media (min-height: 500px) {
    .modal-body {
        height: 400px;
    }
}

@media (min-height: 800px) {
    .modal-body {
        height: 600px;
    }
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

#listExtra li:hover {
    text-decoration: line-through;
}

#listExtra {
    list-style-type: none;
}

#listRequire li:hover {
    text-decoration: line-through;
}

#listRequire {
    list-style-type: none;
}